########################################
# BEACON
########################################
[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_F287C4685154354D38202020FF0A3A3D-if00 
x_offset: 0                             # update with offset from nozzle on your machine
y_offset: 43.15                        # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

contact_max_hotend_temperature: 180     # increase to probe at print temps
home_xy_position: 183, 183              # update with your safe position
home_z_hop: 3
home_z_hop_speed: 30
home_xy_move_speed: 300
home_y_before_x: False
home_method: proximity
home_method_when_homed: contact
home_autocalibrate: unhomed
home_gcode_pre_x: _BEACON_HOME_PRE_X
home_gcode_post_x: _BEACON_HOME_POST_X
home_gcode_pre_y: _BEACON_HOME_PRE_Y
home_gcode_post_y: _BEACON_HOME_POST_Y