[gcode_macro BRUSH_NOZZLE]
# heat nozzle for best results
variable_x1: 175 # left of brush   <<<edit this value>>>
variable_x2: 208.5 # right or brush  <<<edit this value>>>
variable_y1: 336 # y value         <<<edit this value>>>
variable_z1: 3.0 # nozzle height   <<<edit this value>>>
gcode:
    M400  ;wait for buffer to clear
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28         ;home axes before travel moves
    {% endif %}

    G90
    G0 Z5 F3600     ;ensure nozzle is above endstop pin
    G0 X{x1} Y{y1}  ;left position
    G0 Z{z1}        ;move down, ready for brushing
    
    M117 Brushing Nozzle
    G0 X{x2} F5000  ;move right
    G0 X{x1}        ;move left
    G0 X{x2}        ;move right
    G0 X{x1}        ;move left
    G0 X{x2}        ;move right
    G0 X{x1}        ;move left
    G0 X{x2}        ;move right
    G0 X{x1}        ;move left
    G0 Z5 F3600     ;raise nozzle when done
    M117 Nozzle Cleaned